@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
$primarybutton: #21C05C;
$secondcolor: #16A34A;
$colorp: #4B5563;
$secondcolor-back: #F3F5F8;


header{
    
    display: flex;
    justify-content: space-between;
    height: 15vh;
    border-bottom: solid 2px #B4AEAE;
    margin: 0 40px;
    @media(max-width: 1024px){
        margin: 0 25px;
    }
    @media(max-width: 768px){
        flex-direction: column;
        height: auto;
        gap: 15px;
        margin: 15px;
    }

    div{
        display: flex;
        align-items: center;
        width: 26%;
        justify-content: space-around;
        @media(max-width: 1024px){
        justify-content: flex-start;
        width: 100%;
        gap: 20px;
    }
        @media(max-width: 768px){
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
    }

    h1{
        font-size: 2.1rem;
        color: #1f2937;
        @media(max-width: 1024px){
            font-size: 2rem;

        }
    }
}

    .navbar {
    width: 50%;
    @media(max-width: 1024px){
        width: 100%;
    }
    @media(max-width: 768px){
        width: 100%;
        margin-bottom: 0.5rem;
        
    }

    ul{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        @media(max-width: 1024px){
        gap: 5px;
        
    }

    li{
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            color: #4b5563;
            font-size: 1rem;
            font-weight: 400;
            @media(max-width: 1024px){
                font-size: 0.9rem;;
                padding: 0 0.5rem 0 0.5rem;
                display: flex;
                text-align: center;
    }
        }
    }
    }
    }

.button-verde{
    background-color: #21C05C;
        height: 10vh;
        width: 15vw;
        border-radius: 7px;
        display: flex;
        @media(max-width: 1024px){
            width: 20vw;
            
        }
        .link{
            color: white;
        }
    }

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    margin: 0 5rem;
    @media(max-width: 1024px){
        flex-direction: column;
            
        }
    .textos{
        display: flex;
        flex-direction: column;
        width: 55%;
        
        h1{
            font-size: 4rem;
            color: #1F2937;
        }
        .pbanner{
            font-size: 1.3rem;
            width: 90%;
            color: #4B5563;
        }
    }
    .buttons{
        display: flex;
        width: 70%;
        margin: 2.5rem 0;
        justify-content: space-around;
        height: 10vh;
        

        .button1{
            background-color: $primarybutton;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            
            img{
                width: 10%;
                margin-right: 0.5rem;
            }
            .textbtn1{
                color: white;
                padding: 0.8rem;
                font-size: 1.2rem;
            }
            
        }
        .button2{
            display: flex;
            align-items: center;
            border: solid 2px #2563EB;
            width: 50%;
            margin-left: 12%;
            height: 100%;
            border-radius: 8px;
            justify-content: center;

            img{
                width: 12%;
                margin-right: 0.5rem;
            }
            .textbtn2{
                color: #2563EB;
                padding: 0.8rem;
                font-size: 1.2rem;
            }
        }
    }
}

.faixa{

    display: flex;
    background-color: #F3F5F8;
    height: 30vh;
    justify-content: space-around;
    align-items: center;

    .bloco-texto{
        display: flex;
        flex-direction: column;
        align-items: center;

        

        h1 {
            color: #16A34A;
            font-size: 3rem;
            padding-bottom: 0.5rem;
        }
        p{
            color: #4B5563;
            font-size: 1.3rem;
        }
    }
}

.funciona{
    display: flex;
    height: 130vh;
    flex-direction: column;
    padding: 7rem;

    .texto-funciona{
        padding-bottom: 7rem;

        h1{
            font-size: 3rem;
            padding-bottom: 1.3rem;
        }
        h3{
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 1.7rem;
        }
    }

    .cards{
        display: flex;
        justify-content: space-between;
        height: 70%;
        

        .card1{
            background-color: #F3F5F8;
            border-radius: 10px;
            width: 40vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
        .card2{
            background-color: #F3F5F8;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 40vw;
            
        }

        .txt-func{
            flex-direction: row;
            margin: 0 1.5rem;
            

            .titulo-func{
                display: flex;
                padding-bottom: 2rem;
                align-items: center;
                
                .img1{
                    background-color: #DCFCE7;
                    margin-right: 1rem;
                    padding: 1.2rem;
                    border-radius: 100%;
                }
                .img2{
                    background-color: #DBEAFE;
                    margin-right: 1rem;
                    padding: 1.2rem;
                    border-radius: 100%;
                }
                   
                .titulo-f1{
                font-family: "Inter", sans-serif;
                color: $secondcolor;
                font-size: 2rem;
                font-weight: 400;
                }

                .titulo-f2{
                font-size: 2rem;
                font-family: "Inter", sans-serif;
                color: #2563EB;
                font-weight: 400;
                } 
                
            }
            p{
                    padding-left: 1rem;
                    font-size: 1.4rem;
                    color: $colorp;
                }
        }  

        .list-func{
            ol{
                display: flex;
                flex-direction: column;
                justify-items: center;
                margin: 0 0 2.5rem 1.5rem;
                li{
                    padding: 1.3rem 0;
                    
                    .number1{
                        display: flex;
                        align-items: center;
                        
                        h3{
                            background-color: #16A34A;
                            color: white;
                            border-radius: 100%;
                            margin-right: 0.8rem;
                            padding: 0.6rem 1.2rem;
                            font-size: 1rem;
                        }
                    }

                    .number2{
                        display: flex;
                        align-items: center;
                        
                        h3{
                            background-color: #2563EB;
                            color: white;
                            border-radius: 100%;
                            margin-right: 0.8rem;
                            padding: 0.6rem 1.2rem;
                            font-size: 1rem;
                        }
                    }

                    h2{
                        font-size: 1.4rem;
                        color: #09090B;
                    }

                    p{
                        color: #4B5563;
                        margin-left: 3.5rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}